@import "reset";
@import "header";



@colorCorporate: #6fb635;

body {
  background: lightgrey;
}
.container {
  max-width: 1920px;
  padding: 0;
}

.navbar {
  &-collapse {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    & form .btn-outline-success:hover {
      background-color: @colorCorporate;
    }
  }
}